# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/
myenv/

# ===============================
# Environment Variables (SECRET)
# ===============================
.env

# ===============================
# LangChain / Chroma / Vector DB
# ===============================
chroma_db/
*.sqlite3

# ===============================
# VS Code
# ===============================
.vscode/
.history/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Docker
# ===============================
*.pid
docker-data/
